body {
    background-color: #171717;
    font-family: monospace;
    margin: 0;
}

p {
    color: #fff;
    margin: 0;
}

.p_card {
    width: 500px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}



.card {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px auto;
    border: 1px solid #222222;
    border-radius: 10px;
    height: 100px;
    width: 555px;
    word-wrap: break-word;
}

.card:hover {
    background-color: #73737335;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container_column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.date_input {
    color: #fff;
    font-family: monospace;
    border: none;
    background-color: #171717;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.text_input {
    color: #fff;
    font-family: monospace;
    border: 1px solid #222222;
    border-radius: 10px;
    background-color: #171717;
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
    width: 600px;
    height: 700px;
}

.header {
    text-align: center;
    border-bottom: 1px solid #222222;
    margin-bottom: 10px;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn {
    color: #fff;
    font-family: monospace;
    border: none;
    background-color: inherit;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.add_btn {
    margin: 0 auto;
    border: 1px solid #222222;
    border-radius: 10px;
    width: 100px;
    color: #fff;
    font-family: monospace;
    background-color: inherit;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.add_btn:hover {
    background-color: #73737335;
}

/*vibe coding*/
.checkbox-label input[type="checkbox"] {
    display: none;
}

.checkbox-label .custom-box {
    display: inline-block;
    width: 30px;
    font-size: 15px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    color: #fff
}

.checkbox-label .custom-box::before {
    content: "[ ]";
}

.checkbox-label input[type="checkbox"]:checked + .custom-box::before {
    content: "[x]";
}
/*vibe coding*/